<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115112999803-jdq0knnbuh5h7msj9ndmsoerdngcu84b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115112999803-jdq0knnbuh5h7msj9ndmsoerdngcu84b</string>
	<key>API_KEY</key>
	<string>AIzaSyA8ZbGC2ZFd_vhxWZSqKWh77uTuq8aR4z0</string>
	<key>GCM_SENDER_ID</key>
	<string>115112999803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mileverse.proto</string>
	<key>PROJECT_ID</key>
	<string>mileverse</string>
	<key>STORAGE_BUCKET</key>
	<string>mileverse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115112999803:ios:2afccd5fff998ae02b1bde</string>
	<key>DATABASE_URL</key>
	<string>https://mileverse.firebaseio.com</string>
</dict>
</plist>